.simple{
        background-color: rgb(226, 215, 166);
        background: url("https://wallpaperaccess.com/full/141254.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        
    }